{% extends "journaux_apprentissage/base.html" %}


{% block page_header %}

    <div class="jumbotron">
        <h1 class="display-4">Suivez vos apprentissages.</h1>

        <p class="lead">
            Créer votre propre journal d'apprentissage et conserver une liste de sujets 
            sur lesquels vous informer. Dés que vous acquérez de nouvelles connaissances 
            sur un sujet, créer une entrée qui résume ce que vous avez appris.
        </p>

        <a class="btn btn-lg btn-primary" href="{% url 'utilisateurs:register' %}"
            role="button">S'inscrire &raquo</a>
    </div>

{% endblock page_header %}
