{% extends "journaux_apprentissage/base.html" %}

{% block content %}

    <p>Sujet: {{ topic }}</p>

    <p>Entrées :</p>
    <p>
        <a href="{% url 'journaux_apprentissage:new_entry' topic.id %}">Ajouter une nouvelle entrée</a>
    </p>

    <ul>
    {% for entry in entries %}
        <li>
            <p>{{ entry.date_added|date:'d F Y, H:i' }}</p>
            <p>{{ entry.text|linebreaks }}</p>
            <p><a href="{% url 'journaux_apprentissage:edit_entry' entry.id %}">Modifier l'entrée</a></p>
        </li>
    {% empty %}
        <li>Aucune entrée n'a encore été ajouté à ce sujet.</li>
    {% endfor %}
    </ul>

{% endblock content %}