{% extends "man_fr/base.html" %}

{% block content %}

    <p>Sujet: {{ topic }}</p>

    <p>Entrées:</p>
    <ul>
    {% for entry in entries %}
        <li>
            <p>{{ entry.date_added|date:'d F Y, H:i' }}</p>
            <p>NAME: {{ entry.name|linebreaks }}</p>
            <p>SYNOPSIS{{ entry.synopsis|linebreaks }}</p>
            <p>DESCRIPTION{{ entry.description|linebreaks }}</p>
            <p>AUTEUR{{ entry.auteur|linebreaks }}</p>
            <p>SIGNALER DES BUGS{{ entry.bug|linebreaks }}</p>
            <p>COPYRIGHT{{ entry.copyright|linebreaks }}</p>
            <p>A VOIR AUSSI{{ entry.also|linebreaks }}</p>
        </li>
    {% empty %}
        <li>Aucune entrées n'a encore été ajouté à ce sujet.</li>
    {% endfor %}
    </ul>

{% endblock content %}

